:root {
  /* Color */
  --dark-green: #003d00;
  --soft-green: #84b437;
  --light-green: #acd67b;
  --yellow-green: #f0f4c3;
  --white: #ffffff;
  /* Border */
  --border-radius: 15px;
  --border-style: 3px solid var(--soft-green);
}

/* Reset */
a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
button {
  font-family: inherit;
  background-color: transparent;
  border: none;
}

button {
  cursor: pointer;
}

/* Font */
@font-face {
  font-family: "OTWelcomeRA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "OTWelcomeRA";
  margin: 0 auto;
  padding: 0;
  background-color: var(--yellow-green);
  text-align: center;
}

/* Flex style */
.app {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--dark-green);
  margin-bottom: 2.2rem;
}
